@media (min-width: 400px) {
  /*  navigation */
  .hamburger {
    display: none;
  }

  .list {
    position: static;
    width: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__element {
      padding: 17px;
      border-radius: 4px;
      transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
      border: 0;
      width: auto;

      &:hover {
        background-color: lighten($blueColor, 20%);
        transform: scale(110%);
      }
    }
  }
}
