@media (min-width: 1070px) {
  .post {
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  }
}
  @media (min-width: 1200px) {
  .content {
    grid-template-columns: 30% 70%;
    margin: 0 7.6rem;
  }

  .recommend {
    grid-area: 1 / 2 / 2 / 3;
  }
}

@media (min-width: 1150px) {
  .header {
    margin: 10px 8%;
  }

  .baner {
    width: 85%;
    margin: 0 auto;
  }

  .recommend {
    .product {
      &__element:nth-child(n + 5) {
        display: grid;
      }
      &__element:nth-child(n + 7) {
        display: none;
      }
    }
  }
}

@media (min-width: 1335px) {
  .post {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    &__element {
      &:nth-child(n + 5) {
        display: none;
      }
    }
  }

  .newsletter {
    padding: 0;
    background: none;
    min-height: 600px;
    background-color: $blueColor;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23c0392b' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23932c21' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23be2034' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23921928' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ba174f' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2391123d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23b60e6c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%238e0b55' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23b0078b' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%238b056e' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: top;


    &__box {
      padding: 0 4rem;
      width: 50%;
      min-height: 500px;
      background-color: unset;
    }
  }

  .footer {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 4rem auto auto;

    &__header {
      grid-area: 1 / 2 / 2 / 3;
      margin: 0rem 2rem 0rem 1rem;
      max-height: 35px;

      &--title {
        max-height: 35px;
      }
    }

    &__info {
      grid-area: 2 / 2 / 3 / 3;
      margin: 0rem 2rem 0rem 1rem;
    }

    &__gmap {
      grid-area: 1 / 1 / 3 / 2;
      margin: 1rem 1rem 1rem 2rem;

      &--frame {
        border-radius: 15px;
      }
    }

    &__social {
      margin-top: 2rem;
      grid-area: 3 / 1 / 4 / 3;
    }
  }
}

@media (min-width: 1482px) {
  .recommend {
    .product {
      &__element:nth-child(n + 5) {
        display: grid;
      }
      &__element:nth-child(n + 7) {
        display: grid;
      }

      &__element:nth-child(n + 9) {
        display: none;
      }
    }
  }
}
