@media (min-width: 1500px) {
  .content {
    grid-template-columns: 28% 72%;
    margin: 0 8.2rem;
  }

  .post {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

    &__element {
      &:nth-child(n + 5) {
        display: block;
      }
      &:nth-child(n + 6) {
        display: none;
      }
    }
  }

  .newsletter {
    padding: 0 18rem;

    &__box {
      padding: 0 12rem;
    }
  }

  .footer {
    &__header {
      margin: 0rem 6rem 0rem 1rem;
    }

    &__info {
      margin: 0rem 6rem 0rem 1rem;
    }

    &__gmap {
      margin: 1rem 1rem 1rem 6rem;
    }
  }
}

@media (min-width: 1710px) {
  .post {
    &__element {
      &:nth-child(n + 6) {
        display: block;
      }
    }
  }
}

@media (min-width: 1724px) {
  .recommend {
    .product {
      &__element:nth-child(n + 5) {
        display: grid;
      }
      &__element:nth-child(n + 7) {
        display: grid;
      }

      &__element:nth-child(n + 9) {
        display: grid;
      }
    }
  }
}
