@media (min-width: 600px) {
  .newsletter {
    padding: 0 50px;
  }

  .newsletter {
    &__box {
      padding: 0 15%;
    }
  }

  .header__bottomline,
  .recommend .product,
  .comments .post,
  .bestsellers .product {
    padding: 0 50px;
  }

  .footer {
    &__header,
    &__info {
      padding: 0 50px;
    }

    &__gmap {
      min-height: 450px;
    }

    .social {
      padding: 0 20px;
    }
  }
}

@media (min-width: 677px) {
  .bestsellers {
    .product {
      &__element:last-child {
        display: none;
      }
    }
  }
}

@media (min-width: 888px) {
  .bestsellers {
    .product {
      &__element:last-child  {
        display: grid;
      }
    }
  }
}
