@media (min-width: 600px) {
  .newsletter {
    padding: 0 50px;
  }

  .footer {
    &__header,
    &__info {
      padding: 0 50px;
    }

    &__gmap {
      min-height: 450px;
    }

    .social {
      padding: 0 20px;
    }
  }
}
