@media (min-width: 600px) {
  .header__bottomline,
  .recommend .product,
  .bestsellers .product,
  .post {
    padding: 0 50px;

    &:after {
      width: 40px;
    }
  }

  .occasion {
    margin: 0 50px;
  }
   

  .newsletter {
    padding: 0 50px;
    &__box {
      padding: 0 15%;
    }

    &__header {
      &--title {
        font-size: 2.5rem;
      }

      &--subtitle {
        font-size: 1.2rem;
      }
    }

    &__description {
      font-size: 0.9rem;
    }
  }

  .form__label {
    font-size: 1.1rem;
  }

  

  .footer {
     &__info {
      padding: 0 50px;
    }

    &__gmap {
      min-height: 450px;
    }
  }
}

@media (min-width: 737px) {
  .product {
    &__element:last-child {
      display: none;
    }
  }

  .newsletter {
    &__box {
      padding: 0 18%;
    }

    &__header {
      &--title {
        font-size: 3rem;
      }

      &--subtitle {
        font-size: 1.4rem;
      }
    }

  }
}

@media (min-width: 850px) {
  .newsletter {
    margin: 100px 0 0 0;
    padding: 0 14%;
    
    &__box {
      padding: 0 17%;
      min-height: 500px;
    }

    &__header {
      margin: 20px 0;
    }

    &__description {
      margin: 20px 0;
    }
  }

  .footer {
    &__header,
    &__info {
      padding: 0 14%;
   }
  }

}

@media (min-width: 947px) {
  .product {
    &__element:last-child {
      display: grid;
    }
  }
}

@media (min-width: 1150px) {

  .header {
    margin: 10px 8%;
  }

  .baner {
    width: 85%;
    margin: 0 auto;
  }
}