/*  Variables  */
$blackColor: #3A3A3A;
$blueColor: #303F9F;
$whiteColor: #E8EAF6;
$greyColor: #D8D8D8;
$greenColor: #46ce7f;
$bgColor: #fff;
$footerColor: #585858;
$fontFamily: 'Roboto', sans-serif;

/*  colors for social links hover  */
$fbColor: #4267B2;
$instaColor: #8a3ab9;
$twColor: #00acee;
$gmapsColor: #1EA362;
/*  end of for social links hover  */


@import "mixin"; 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*  Typography and global settings  */
html, body, button, input {
    font-family: $fontFamily;
}

h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: $blackColor;
}

h2 {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: $whiteColor;
}

h3 {
    color: $blackColor;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

a, li {
    color: $whiteColor;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
}

p {
    color: $blackColor;
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
}

label {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: $bgColor;
}

/*  animate  */
.progress {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    @keyframes loading {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      

    &__animate {
        position: relative;
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    &__animate::after {
        position: absolute;
        top: 0;
        left: 0;
        content: " ";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 5px solid $blueColor;
        border-color: $blueColor transparent $blueColor transparent;
        animation: loading .9s linear infinite;
    }

}
/*  end of animate  */

.icon {
    width: 25px;
    height: 25px;
}

.header__bottomline {
    margin: 35px 0;

    &--title {
        position: relative;
    }

    &--title::after {
        position: absolute;
        top: 10px;
        left:0;
        content: "";
        width: 100%;
        height: 100%;
        border-bottom: 1px solid $greyColor;
    }
}
/*  end of typography and global settings  */



.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 10px 5%;

    &__logo {
        @include logo();
    }

    .userpanel {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin: 0;

        &__link {
            transition: transform .2s ease-in-out, filter .2s ease-in-out;

            &--icon {
                margin: 2px 6px;
                padding: 2px;
                width: 35px;
                height: 35px;
            }

            &:hover {
                transform: scale(115%);

                .userpanel__link--icon {
                    @include equivalentBlackColor;
                }
            }
        } 
    }
}

.baner {
    width: 90%;
    height: 200px;
    border: 3px solid #000;
    border-radius: 5px;
    margin: 0 auto;
    background: url("https://source.unsplash.com/random") center/100%;
}


.navigation {
    background-color: $blueColor;
    height: 65px;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    .hamburger {
        height: 40px;
        width: 200px;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 1fr;
        place-items: center;
        background: none;
        border: 0;
        color: $whiteColor;

        &__icon {
            grid-area: 1 / 1 / 2 / 2;
            width: 100%;
            height: 100%;
            margin: 0 20px;
            position: relative;
            
            &--line {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                background-color: $whiteColor;
                height: 2px;
                width: 100%;

                &:first-child {
                    transform: translateY(-12px);
                }

                &:last-child {
                    transform: translateY(12px);
                }
            }
        }

        &__icon--animate {            
            .hamburger__icon--line {
                &:first-child {
                    transform: translateY(0) rotate(-45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    transform: translateY(0) rotate(45deg);
                }
            }
        }

        &__title {
            grid-area: 1 / 2 / 2 / 3;
            font-size: 16px;
        }
    }

    .list {
        display: none;
        list-style: none;
    }

}



/*
.navigation {
    background-color: $blueColor;
    height: 65px;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    .list {
        width: 100%;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        &__element {
            padding: 20px;
            transition: background-color .2s ease-in-out, transform .2s ease-in-out;
            
            &:hover {
                background-color: lighten($blueColor, 20%);
                transform: scale(110%);
            }
        }
    }
}

*/

.content {
    margin: 0;
    padding: 0 20px;
}

.recommend {    
    @include productsStyle(162px, 1fr);
}

/*  post is comments element  */
.post {
    border: 1px solid $greyColor;
    border-radius: 10px;
    padding: 15px;

    &__element {
        margin: 25px auto;
        border-bottom: 1px solid $greyColor;

        &:last-child {
            border:none;
        }
    }

    &__email {
        padding: 0 10px;
        text-transform: lowercase;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }


        &::first-letter {
            text-transform: uppercase;
        }

        &--icon {
            margin: 0 10px 0 0;
            @include equivalentWhiteColor;
        }
    }

    &__body {
        background-color: $greyColor;
        border-radius: 10px;
        padding: 20px;
        line-height: 150%;
        text-align: justify;
    }
}

.bestsellers {
    @include productsStyle(200px, 1fr);
}

.newsletter {
    background: $bgColor;
    background: linear-gradient(180deg, $bgColor 50%, $footerColor 50%);
    margin: 25px auto 0 auto;
    padding: 0 20px;

    &__box {
        padding: 0 10%;
        background-color: $blueColor;
        border-radius: 10px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        min-height: 350px;
    }

    &__header {
        
        &--title {
            color: $whiteColor;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 35px;
            margin: 0 0 10px 0;
        }

        &--subtitle {
            color: $greyColor;
            text-transform: lowercase;
            font-size: 16px;
            margin: 0 0 30px 0;
        }
    }

    .form {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        margin: 0 0 20px 0;
        width: 100%;

        &__label {
            color: $whiteColor;
            font-size: 16px;
        }

        &__input {
            position: relative;
            width: 100%;
            border-radius: 5px;
            border: 1px solid $whiteColor;
            background-color: $whiteColor;

            &--input {
                height: 40px;
                margin: 1px;
                color: $blackColor;
                outline: none;
                border: none;
                padding: 5px;
                background-color: $whiteColor;
                width: calc(100% - 40px);
            }

            &--button {
                cursor: pointer;
                position: absolute;
                right: 2px;
                top: 2px;
                border-radius: 4px;
                height: 38px;
                width: 35px;
                background-color: $blueColor;
                border: 0;
                color: $whiteColor;
                border: 1px solid darken($blueColor, 10%);
                transition: background .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;

                &:hover {
                    background-color: $greenColor;
                    color: darken($greenColor, 30%);
                    border-color: darken($greenColor, 10%);
                }
            }
        }
    }

    &__description {
        text-align: justify;
        font-size: 13px;
        font-weight: 300;
        color: $greyColor;
        margin: 0;
    }

}

.footer {
    background-color: $footerColor;
    color: $whiteColor;
    margin: 0 auto;
    padding: 1px 0 0 0 ;
    
    &__header {
        padding: 0 20px;

        &--title {
            color: $whiteColor;
        }
    }

    &__info {
        padding: 2px 20px;
        margin: 0 0 30px 0;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &--icon {
            margin: 0 20px 0 0;
        }

        &--content {
            font-size: 20px;
            font-weight: 300;
            color: $whiteColor;
        }
    }

    &__gmap {
        margin: 0;
        min-height: 350px;
        position: relative;

        &--frame {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
    .social {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        width: 100%;
        background-color: $blueColor;
 
        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            width: 25%;
            transition: background-color .3s ease-in-out;

            &__icon {
                transition: transform .3s ease-in-out;
            }

            &:hover .box__icon {
                transform: scale(110%);
            }
                     
            &.fb:hover {
                background-color: $fbColor;                
            }

            &.insta:hover {
                background-color: $instaColor;
            }

            &.tw:hover {
                background-color: $twColor;
            }

            &.gmaps:hover {
                background-color: $gmapsColor;
            }
        }
    }

}